body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

main section .container {
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #d8d8d8;
    padding: 20px;
}

main section .container .menu-item {
    width: auto;
    border: 1px solid #d8d8d8;

}

main section .container .menu-item .img {
    overflow: hidden;
}

main section .container .menu-item img {
    max-width: 100%;
}

main section .container .menu-item .content .header {
    display: flex;
    flex-direction: column;
}

main section .container .menu-item .content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


/* Mobile: 2 images per row */
@media (max-width: 767px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Tablet: 5 images per row */
@media (min-width: 768px) and (max-width: 1439px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
}


/* Laptop: 6 images per row for screens wider than 1440px */
@media (min-width: 1440px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
}