@font-face{
    font-family:'byekan';
    src:url(./font/BYekan+.ttf);
    font-style: normal;
    font-weight: 100;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: byekan;
}

.p{
    margin-top: 15px;
}

.radus{
    border-radius: 15px;
}
.d-flex{
    display: flex;
    gap: 0;
}
.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Set the height of the item as needed */
}
.title-cursor{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.title-cursor i {
    text-align: center;
    color: rgb(165, 165, 46);
    padding-left: 2px;
    padding-bottom: 2px;
}

.all-padding{
    padding-inline: 20px;
}
.p-left{
    border-left: 1px solid rgb(139, 138, 138);
}
.product{
    border: 1px solid rgb(117, 116, 116);
    border-radius: 20px;
}
p{
    padding-top: 4px;
    font-size: 1rem;
    color: rgb(75, 74, 74);
}
.lft{
    border-left: 1px solid;
}
.pad{
    padding: 7px;
}
.see{
    text-align: center;
    
}
.see h5{
    color: rgb(46, 46, 220);
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    cursor: pointer;
}
.bestsellers-section {
    border: 1px solid rgb(112, 111, 111);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.best-sell-flex{
    display: flex;
    
}

.bestsellers-section h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.bestsellers-section h2::before {
    content: '🔥';
    margin-left: 10px;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
   
    
}

.product-item img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.product-details {
    flex: 1;
    margin-right: 10px;
}

.product-rank {
    font-size: 30px;
    font-weight: bold;
    color: #0d6efd;
    margin-left: 10px;
}

.view-all {
    
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
    
}
.view-all-par{
    text-align: left;
}

.view-all:hover {
    text-decoration: underline;
}
.ls{
    margin-bottom: 15px;
}